<section class="movie-details">
  <div class="details">
    <div class="image">
      <%= image_tag @flick.image_file_name %>

      <div class="faves">
        <%= fave_or_unfave(favorite: @favorite, flick: @flick) %>
        <div class="count">
          <p> <%= @fans.size %></p>
        </div>
      </div>


    </div>
    <h1><%= @flick.title %></h1>
    <h2>
      <%= year_of(@flick) %> &bull; <%= @flick.rating %>
    </h2>
    <p>
      <%= @flick.description %>
    </p>
    <table>
      <tr>
        <th>Director:</th>
        <td><%= @flick.director %></td>
      </tr>
      <tr>
        <th>Duration:</th>
        <td><%= @flick.duration %></td>
      </tr>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@flick) %></td>
      </tr>
    </table>
  </div>

  <section class="reviews">
    <%= average_stars(@flick) %>
    <%= link_to pluralize(@flick.reviews.count, "Review"), flick_reviews_path(@flick), class: "button" %>
    &#8226;
    <%= link_to "Create Review", new_flick_review_path(@flick) %>
  </section>

  <aside>
    <% if @fans.present? %>
      <h4>Fans</h4>
      <ul>
        <% @fans.each do |user| %>
          <li>
            <%= link_to user.name, user %>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% if @genres.present? %>
      <h4>Genres</h4>
      <ul>
        <% @genres.each do |g| %>
          <li><%= g.name %></li>
        <% end %>
      </ul>
    <% end %>

  </aside>

  <% if current_user_admin? %>
    <section class="admin">
      <%= link_to "Edit", edit_flick_path(@flick), class: "button" %>
      <%= link_to "Delete", flick_path(@flick), class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </section>
  <% end %>


</section>